name: Node.js CI

on:
    pull_request:
        branches: [ "master" ]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js v20
              uses: actions/setup-node@v3
              with:
                    node-version: '20.x'
            - run: npm ci
            - run: npx eslint .
            - run: npm test

                